---
import CommonLayout from "../layouts/CommonLayout.astro";
import Entry from "../components/Entry.astro";

---
<CommonLayout>
    <div class="entries">
        <Entry trend='Milano'/>
        <Entry trend='Bologna'/>
        <Entry trend='Padova'/>
        <Entry trend='Senigallia'/>
        <Entry trend='Napoli'/>
        <Entry trend='Cesena'/>
        <Entry trend='Verona'/>
        <Entry trend='Vicenza'/>
    </div>
</CommonLayout>
<style>
    .entries {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
</style>
