---
import CommonLayout from "../layouts/CommonLayout.astro";
import Trend from "../components/Trend.astro";

---
<CommonLayout>
    <div class="entries">
        <Trend trend='Milano'/>
        <Trend trend='Bologna'/>
        <Trend trend='Padova'/>
        <Trend trend='Senigallia'/>
        <Trend trend='Napoli'/>
        <Trend trend='Cesena'/>
        <Trend trend='Verona'/>
        <Trend trend='Vicenza'/>
    </div>
</CommonLayout>
<style>
    .entries {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
</style>
